html{
min-height:100%;
}

body{
font-family: trebuchet ms,sans-serif;
width: 1000px;
min-height:800px;
margin:20px auto;
}


/* Everything inside the body is inside this div */
#bodyDiv{
min-height:800px;
}

/* This div contains the left_menu and the content */
#container{
	width:100%;
	min-height:90%;
	float:left; 
	background-color:#EEF6F6;
}

#left_menu 
{
	text-decoration:  none;
	float:left;
	background-color:#777777;
	width:28%;
	height:100%
}

#content{
	float:right;
	height:100%;
	width: 70%;
	margin-left:10px;
}

#footer {
	margin-top:5px;
	width:100%;
	background-color:#EEF6F6;
	float: left;
}

ul
{			
	list-style-type:none;
}

a{
	text-decoration:  none;
}

.titleItem{
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px;
	margin-left:5px;
	/*width:200px;*/
	background-color:#555555;
	color:white;
}



#left_menu .current_page_item {
	/*background: #2980b9;*/
	text-transform: uppercase;
	color: rgba(150,150,150,1);
	font-weight: 700;
	text-align:right;
	padding-right:50px;
}

#left_menu li a
{
	color: rgba(255,255,255,1);
	text-decoration:  none;
}

#left_menu li a:hover{
	color: blue;
	font-weight: 800;
}

#left_menu .current_page_item a:hover{
}

#left_menu li
{			
	border-top: 1px solid rgba(255,255,255,0.08);
	padding-top:10px;
}



